@model Model.Customer
@{
    ViewBag.Title = "Home Movie Night | Register";
}

<h2>Register for the site</h2>


<form class="form-horizontal" method="POST">
    <div class="form-group">
        @Html.LabelFor(x=>x.FirstName, new {@class="control-label col-md-2"})
        <div class="col-md-4">
            @Html.TextBoxFor(x => x.FirstName, new {@class = "form-control", placeholder="First Name"} )
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x=>x.LastName, new {@class="control-label col-md-2"})
        <div class="col-md-4">
            @Html.TextBoxFor(x => x.LastName, new {@class = "form-control", placeholder="Last Name"} )
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x=>x.EmailAddress, new {@class="control-label col-md-2"})
        <div class="col-md-4">
            @Html.TextBoxFor(x => x.EmailAddress, new {type = "email", @class = "form-control", placeholder="Email Address"} )
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x=>x.StreetAddress, new {@class="control-label col-md-2"})
        <div class="col-md-4">
            @Html.TextBoxFor(x => x.StreetAddress, new {@class = "form-control", placeholder="Street Address"} )
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x=>x.ZipCode, new {@class="control-label col-md-2"})
        <div class="col-md-4">
            @Html.DropDownListFor(x => x.ZipCode.Code, ViewBag.ZipCodes as SelectList, 
                          "-- Select zipcode--", new {@class="form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x=>x.Password, new {@class="control-label col-md-2"})
        <div class="col-md-4">            
            @Html.PasswordFor(x => x.Password, new {@class = "form-control", placeholder="Password"} )
        </div>
    </div>
    
@*    <div class="form-group">
        @Html.LabelFor(x=>x.ConfirmPassword, new {@class="control-label col-md-2"})
        <div class="col-md-4">            
            @Html.PasswordFor(x => x.ConfirmPassword, new {@class = "form-control", placeholder="Confirm Password"} )
        </div>
    </div>*@

    <button type="submit" class="btn btn-primary">Add Customer</button>
    <a href="/" class="btn btn-primary">Cancel</a>
</form>
